* {
  padding: 0;
  margin: 0;
}
.body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
}
.whole {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff6c9;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

#main {
  width: 90%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  background-color: #fff6c9;
  border-radius: 15px;
}
#event {
  width: 250px;
  background-color: #ffec97;
  text-align: left;
  padding-top: 1px;

  line-height: 2vh;
  overflow-y: scroll;
}

#event::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.totalc_div{
  width: 100%;
  background-color: #ffe87f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side_div {
  width: 90%;
  height: 100%;
  background-color: #ffec97;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 2%;
}
h4 {
  margin: 7px;
  padding: 2px;
}

.right {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-left: 90%;
  text-align: center;
}

.detail {
  width: 90%;
  background-color: #fff6c9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

#text {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding-left: 4%;
  padding-right: 4%;
  height: 70px;
  font-size: large;
  background-color: #dd5441;
  color: white;
  box-sizing: border-box;
  padding-left: 3%;
  padding-right: 3%;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 3%;

}
#text1 {
  font-family:Arial, Helvetica, sans-serif;
  color: #131111;
  margin-left: 6%;
}

.head{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2%;
  margin-bottom:2%;
}
@media screen and (max-width:600px) {
  .head{
    margin-top: 6%;
    margin-bottom: 6%;
  }
}

/* Style for h4 elements */

/* Style for the button */
#butto {
  background-color: white;
  color: #dd5441;
  padding: 7.5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#butt1 {
  background-color: #2d7ef6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 6%;
}
/* Hover effect for the button */

.info {
  background-color: #ffe87f;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 3%;
}
.im {
  position: absolute;
  left: 50%;
  top: 45%;
  border-radius: 50%;
  overflow: hidden;
}

.custom-image:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
}

/* .custom-image {
  width: 50px;
  height: 150px;
} */
/* input[type="button"] {
  display: flex;
  justify-content: center;
  background-color: #e1f461;
  color: #121010;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: -190%;
} */

/* Add this to your external CSS file or in a <style> tag in the HTML document */
.event-list {
  display: flex;
  flex-wrap: wrap;
}

.event-item {
  width: 200px;
  height: 40px;
  background-color: #fff6c9;
  color: #100d0d;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 10px;
  border-radius: 10px;
}

.event-item:hover {
  background-color: #fcf2c0;
  box-shadow: 1px 2px 4px #fff6c9;
}
.event-item.selected {
  background-color: #ffefa8;
  box-shadow: 1px 2px 4px #fff6c9;
  width: 90%;
}

.decor {
  width: 90%;
  color: #013114;
  padding: 2px;
  font-family: "Ubuntu", sans-serif;
}
.decor::before {
  content: "★" !important;
  font-weight: bold;
}





@media only screen and (max-width: 1000px) {
  #lowercontainer{
    flex-direction: column;
  }
  .side_div{
    background-color: #fcf2c0;
    width: 100%;
  }
}


